.level-1-25c
{
    width: 25%;
    height: 100%;
    background-color: rgb(228, 217, 222);
}

.level-2-50r1
{
    width: 100%;
    height: 50%;
    background-color: rgb(148, 71, 212);
}

.level-2-50r2
{
    width: 100%;
    height: 50%;
    background-color: rgb(122, 55, 200);
}

.level-1-75c
{
    width: 75%;
    height: 100%;
    background-color: rgb(161, 223, 28);
}

.root
{
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: rgb(251, 180, 104);
}

