.level-2-10c
{
    width: 10%;
    height: 100%;
    background-color: rgb(121, 148, 149);
}

.level-3-20r1
{
    width: 100%;
    height: 20%;
    background-color: rgb(26, 176, 20);
}

.level-3-20r2
{
    width: 100%;
    height: 20%;
    background-color: rgb(14, 223, 57);
}

.level-3-20r3
{
    width: 100%;
    height: 20%;
    background-color: rgb(150, 186, 45);
}

.level-3-20r4
{
    width: 100%;
    height: 20%;
    background-color: rgb(231, 159, 49);
}

.level-3-20r5
{
    width: 100%;
    height: 20%;
    background-color: rgb(223, 175, 177);
}

.level-2-50c
{
    width: 50%;
    height: 100%;
    background-color: rgb(198, 119, 69);
}

.level-3-50r1
{
    width: 100%;
    height: 50%;
    background-color: rgb(44, 42, 249);
}

.level-4-30c1
{
    width: 30%;
    height: 100%;
    background-color: rgb(136, 136, 134);
}

.level-4-30c2
{
    width: 30%;
    height: 100%;
    background-color: rgb(79, 197, 94);
}

.level-4-40c
{
    width: 40%;
    height: 100%;
    background-color: rgb(161, 58, 214);
}

.level-3-50r2
{
    width: 100%;
    height: 50%;
    display: flex;
    background-color: rgb(219, 9, 204);
}

.level-2-40c
{
    width: 40%;
    height: 100%;
    background-color: rgb(51, 87, 48);
}

.level-1-70r
{
    width: 100%;
    height: 70%;
    display: flex;
    background-color: rgb(231, 109, 56);
}

.level-2-60r
{
    width: 100%;
    height: 60%;
    background-color: rgb(124, 16, 177);
}

.level-2-40r
{
    width: 100%;
    height: 40%;
    background-color: rgb(209, 30, 178);
}

.level-1-30r
{
    width: 100%;
    height: 30%;
    background-color: rgb(246, 249, 129);
}

.root
{
    width: 100vw;
    height: 100vh;
    background-color: rgb(136, 116, 240);
}

